body{
    background-image: url(images/image\ 33.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.navbar1{
    display: flex;
    padding-top: 50px;
 

}



ul>a{
    color: white;
    text-decoration: none;
}

.childthree{
    text-align: center;
    color: white;
    padding-top: 150px;
}

.heading1{
    font-size: 3.9rem;
    padding-bottom: 20px;
   color: rgb(162, 64, 253);
}

.p1{
    margin-top: 20px;
}

.btn2{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.BTN1{
    border-radius: 10px;
}

